@font-face
{
  font-family: 'Libre Barcode 128 Text';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/LibreBarcode128Text-Regular.ttf');
}

.header
{
  font-weight: bold;
  border-bottom: 1px solid #666666;
  margin-bottom: 10px;
}

.barcode
{
    font-family: 'Libre Barcode 128 Text';
    font-size: 65px;
    color: black;
    background-color: white;
    width: fit-content;
    margin: 0 auto;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    
}